/* Quick margin and padding reset */
*{
    margin: 0;
    padding: 0;
}

/* "info" and "light" are just copied from Bootstrap's color pallette. Dark was for troubleshooting. */
:root {
    --info: #5bc0de;
    --light: #f7f7f7;
    --titleGreen: rgb(43, 175, 120);
    --sidebar: rgb(23, 23, 56);
    --dark: rgb(29, 29, 29);
    
}

/* Make body full-height and flex-display header and content */
body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: var(--dark);
}

/* Header  */
header {
    padding: 5px;
    display: flex;
    background-color: var(--titleGreen);
    height: 50px;
}

/* Container for all content under the header */
.container.main {
    display: flex;
    flex: 1;
}

/* Sidebar container */
.sidebar {
    width: 220px;
    background-color: var(--sidebar);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#step-1-block, #step-2-block {
    margin: 10px 0;
    padding: 10px;
    border: dashed var(--titleGreen);
    border-radius: 5px;
}

/* Holds search bar and search button */
#search-container {
    display: flex;
    justify-content:space-between;
}

/* Search box and search button*/
.search-box {
    width: 65%;
    padding: 1px;
}

#search-button {
    width: 30%;
    background-color: var(--info);
    color: white;
    font-size: 110%;
    font-weight:500;
}

/* "Step 1" and "Step 2" text */
.sidebar h3 {
    margin: 5px 0;
    color: var(--light);
    text-align: center;
}

/* For dynamic element hiding (ex: "Step 2" text) */
.hidden {
    visibility: hidden;
}

#search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cards for displaying search results */
.result-card {
    margin: 2px 1px;
    background-color: white;
    padding: 2px 5px;
    border-style:solid;
    width: 85%;
    transition: all 0.5s ease-in-out;
}

.result-card:hover {
    cursor: pointer;
    width: 95%;
    border-color: var(--titleGreen);
}

/* Container for movie and drink content */
.container.content {
    display: flex;
    justify-content: space-around;

    height: 500px;
    flex: 1;
    padding: 15px 5px;
    
    color: var(--light);
}

/* Container for movie content */
.container.movie {
    display: flex;
    flex-flow: column;
    width: 45%;

    border: dashed var(--titleGreen);
    border-radius: 5%;

    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#movie-title {
    font-size: 130%;
}

#movie-plot {
    width: 85%;
}

/* Image container for movie poster */
#poster-container {
    height: 70%;
    display: flex;
    justify-content: center;
}

#poster-container image {
    border-radius: 5%;
}

/* Container for drink content */
.container.drink {
    display: flex;
    flex-flow: column;
    width: 45%;
    border: dotted var(--titleGreen);
}

